@charset "utf-8";
html {
    color: #000;
    background-color: #f0f0f2;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 20px
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

.container {
    max-width: 500px;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 70px;
}

ol, ul {
    list-style: none
}

a:hover {
    text-decoration: none
}

a:active {
    text-decoration: none
}

ins, a {
    text-decoration: none
}

.content-wrapper{
    padding: 0 8px;
}

.swiper-container {
    height: 200px;
}

.fix-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 540px;
    margin: 0 auto;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    z-index: 310;
    box-shadow:0 -2px 10px rgba(51,51,51,.1)

}
.footer-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex: 1;
}
.fix-footer .menu{
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: #999;
    height: 49px;
}
.fix-footer .menu.active{
    color: #ff9800;
}
.fix-footer .menu .icon{
    padding: 5px;
    font-size: x-large;
}
.fix-footer .menu .text{
    font-size: 12px;
}
.bg1{
    background: url("../../imags/slider/bg1.jpg") no-repeat center;
    background-size: cover;
}
.bg2{
    background: url("../../imags/slider/bg2.jpg") no-repeat center;
    background-size: cover;
}
.bg3{
    background: url("../../imags/slider/bg3.jpeg") no-repeat center;
    background-size: cover;
}