<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<h1> 用户信息 </h1>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label">昵称</label>
        <div class="col-sm-8">
            <p class="form-control-static" id="nickname"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">性别</label>
        <div class="col-sm-8">
            <p class="form-control-static" id="sex"></p>
        </div>
    </div>
    <button class="btn btn-success" type="button" id="viewUserInfoDetail">查看用户全部信息</button>
    <pre id="userInfoDetail"></pre>
    <hr>
    <button class="btn btn-success" type="button" id="chooseImage">选择照片</button>
    <pre id="localIds">

    </pre>
    <button class="btn btn-success" type="button" id="getLocation">获取我的位置信息</button>
    <pre id="locationInfo">

    </pre>
    <button class="btn btn-success" type="button" id="openLocation">查看天安门位置</button>
    <button class="btn btn-success" type="button" id="getMyLocation">查看我的位置</button>
</form>

<script src="/public/javascripts/constant.js"></script>
<script src="/public/javascripts/util.js"></script>
<script src="/public/javascripts/user.js"></script>
</body>
</html>