@charset "utf-8";
html {
    color: #000;
    background-color: #f0f0f2;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 20px
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

.container {
    max-width: 500px;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 70px;
}

ol, ul {
    list-style: none
}

a:hover {
    text-decoration: none
}

a:active {
    text-decoration: none
}

ins, a {
    text-decoration: none
}

.content-wrapper{
    padding: 0 8px;
}

.profile{
    background-color: #FF9800;
    padding: 0 10px;
    position: relative;
}
.profile .header{
    padding-top: 10px;
    position: relative;
}
.profile .header .msg{
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 20px;
    color: #ffffff;
}
.header .user-picture{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: url("/public/imags/head.jpg") no-repeat center;
    background-size: cover;
}
.profile .row{
    height: 40px;
    position: relative;
    display: flex;
    padding: 5px 0;
}
.profile .first-row {
    border-bottom: 1px solid #FFEB3B;

}
.profile .second-row{

}

.row .item{
    flex: 1;
}
.row .item .title{
    font-size: 12px;
    color: #EFEFEF;
}
.row .item .content{
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.profile .check-in{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #FFEB3B;
    padding: 5px 10px;
    border-radius: 15px;
    color: #FF5722;
}
.profile .check-in .fa{
    margin-right: 3px;
}
.links-wrapper{
    padding: 0 3px;
}
.links{
    display: flex;
    height: 80px;
}
.links .link-item{
    flex: 1;
}
.links .link-item .link-icon{
    color: red;
    text-align: center;
    font-size: 24px;
    margin: 10px;
}
.links .link-item .link-label{
    text-align: center;
}

.section-title-wrapper{
    margin-bottom: 10px;
}
.section-title {
    font-size: 14px;
    padding: 5px 10px;
    border-bottom: 1px solid #EFEFEF;
    overflow: hidden;
    border-bottom:     1px solid rgba(158, 158, 158, 0.49);
}

.section-title .label {
    float: left;
}

.section-title .view-more {
    float: right;
}

.cp-block-wrapper {
    margin: 10px 0;
}

.cp-block {
    position: relative;
    display: flex;
    height: 80px;
    padding: 20px 10px;
    background: #ffffff;
    border-top: solid 1px rgba(94, 94, 94, 0.28);
    border-bottom: solid 1px rgba(94, 94, 94, 0.28);
}

.cp-block + .cp-block {
    margin-top: 10px;
}

.cp-block > div {
    box-sizing: border-box;

}

.cp-block .icon {
    flex-grow: 0;
    width: 80px;
    height: 80px;
    background-size: cover;
}

.cp-block .icon.icon-ftq {
    background: url("/public/imags/fotiaoqiang.jpg") no-repeat center;
}

.cp-block .icon.icon-arxhf {
    background: url("/public/imags/arxhf.jpeg") no-repeat center;
}

.cp-block .disc {
    flex-grow: 1;
    height: 80px;
    padding: 0 10px;
    font-size: 12px;
}

.cp-block .disc .title {
    font-weight: 500;
    margin-top: 5px;
}

.cp-block .disc > div + div {
    margin-top: 10px;
    color: rgba(75, 80, 95, 0.55);
}
.cp-block  .view-detail{
    color: #fa8919;
    float: right;
}
.btn {
    flex-grow: 0;
    padding: 5px 18px;
    color: #fff;
    background-color: #00c15c;
    display: block;
    text-align: center;
    border: 1px solid #00c15c;
    border-radius: 3px;
}

.cp-block .btn-wrapper {
    padding-top: 5px;
}

.cp-block .btn-wrapper .btn + .btn {
    margin-top: 10px;
}

.tool-bar {
    padding: 10px;
}
.feedback{
    height: 100px;
}
.feedback >div{
    float: left;
}
.feedback .cp-icon{
    height: 100px;
    border-radius: 100px;
    width: 100px;
    background: url("/public/imags/fotiaoqiang.jpg") no-repeat center;
    background-size: cover;
}
.feedback .comment{
    height: 100px;
    padding: 5px 0px 5px 15px;
}
.feedback .comment .grade{
    color: #FF9800;
    height: 45px;
    line-height: 45px;
}
.feedback .comment .disc{
    height: 45px;
    line-height: 45px;
}
#walkthrough-content {
    display: none;
}
@font-face {
    font-family: "ZoomlaXingtiJ";
    src: url("http://code.zoomla.cn/font/ZoomlaXingtiJ.eot"); /* IE9 */
    src: url("http://code.zoomla.cn/font/ZoomlaXingtiJ.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("http://code.zoomla.cn/font/ZoomlaXingtiJ.woff") format("woff"), /* chrome、firefox */
    url("http://code.zoomla.cn/font/ZoomlaXingtiJ.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("http://code.zoomla.cn/font/ZoomlaXingtiJ.svg#ZoomlaXingtiJ") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
.art-font,.art-font *{
     font-family:'LiDeBiao-Xing3c0e885e6419c0e';
 }