@charset "utf-8";
html {
    color: #000;
    background-color: #f0f0f2;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 20px
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

.container {
    max-width: 500px;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 70px;
}
.container .content-wrapper{
    padding: 5px 8px;
}
ol, ul {
    list-style: none
}

a:hover {
    text-decoration: none
}

a:active {
    text-decoration: none
}

ins, a {
    text-decoration: none
}
.block-title{
    color: #FF9800;
    margin: 10px 5px 5px 5px;
}

.cp-block-wrapper{

}

.cp-block{
    position: relative;
    display: flex;
    height: 80px;
    padding: 20px 10px;
    background: #ffffff;
    border-top: solid 1px rgba(94, 94, 94, 0.28);
    border-bottom: solid 1px rgba(94, 94, 94, 0.28);
}
.cp-block + .cp-block{
    margin-top: 10px;
}
.cp-block >div{
    box-sizing: border-box;

}
.cp-block .icon{
    flex-grow: 0;
    width: 80px;
    height: 80px;
    background-size: cover;
}
.cp-block .icon.icon-ftq{
    background: url("/public/imags/fotiaoqiang.jpg") no-repeat center;
}
.cp-block .icon.icon-arxhf{
    background: url("/public/imags/arxhf.jpeg") no-repeat center;
}
.cp-block .disc{
    flex-grow: 1;
    height: 80px;
    padding: 0 10px;
    font-size: 12px;
}
.cp-block .disc .title{
    font-weight: 500;
}
.cp-block .disc >div + div{
    margin-top: 10px;
    color: rgba(75, 80, 95, 0.55);
}

.cp-block .btn-wrapper{
    padding-top: 5px;
}
.cp-block .btn-wrapper .btn +.btn{
    margin-top: 10px;
}
.tool-bar{
    padding: 10px;
}
.cp-block .order-detail{
    float: right;
}